.gradle/
.gradle-home/
.android-home/
.kotlin/
.idea/
build/
**/build/

local.properties
*.iml

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/

node_modules/
dist/


keystore.properties
nurtlina-upload-key.jks
